@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item{
        @apply 
        mr-6 
        ml-6 
        tracking-wider 
        flex-auto 
        ;
    }

    .menu-item-a {
        @apply block transition duration-200
    }
    .font-menu {
        @apply font-sans
    }

    .secondMenu {
        @apply
        grid
        grid-cols-2
        gap-4
        justify-start
        lg:flex
        text-gray
        mt-5
        ;
    }

    .footerText {
        @apply
        text-gray
        text-base
        ;
    }

    .footer {
        @apply
        text-grayFoot
        text-xs
        mb-6
        ;
    }

    .subFooter {
        @apply
        text-grayText
        text-sm
        mb-2
        ;
    }

    @font-face{
        font-family: "AmericaRe";
        src: url('css/fonts/GTAmericaRegular.ttf');
        font-weight: normal;
        font-style: normal;
    }
    .america{
        font-family:"AmericaRe";
    }
    @font-face{
        font-family: "Playfair";
        src: url('css/fonts/PlayfairDisplay-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    }
    .play{
        font-family:"Playfair";
    }
    .slider {
        background: white;
        height: 250px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 1140px;
    }
    
    .slider::before, .slider::after {
        background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        position: absolute;
        width: 100px;
        z-index: 2;
    }
    
    .slider::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }
    
    .slider::before {
        left: 0;
        top: 0;
    }
    
    .slider .slide-track {
        animation: scroll 80s linear infinite;
        display: flex;
        width: calc(250px * 18);
    
    }
    
    .slider .slide-track:hover {
        animation-play-state: paused;
    }
    
    .slider .slide {
        @apply
        h-96
        w-96
        ml-2
        /* height: 250px;
        width: 250px;
        ml-8 */
    }
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 9));
        }
    }
}